[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/Microsoft/GSL
[submodule "external/nanovg"]
	path = external/nanovg
	url = https://github.com/memononen/nanovg
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/Gamma"]
	path = external/Gamma
	url = https://github.com/LancePutnam/Gamma
[submodule "external/choreograph"]
	path = external/choreograph
	url = https://github.com/topisani/Choreograph
