build*
bin
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
/.gdb_history
/compile_commands.*

deploy_key
/external/src/gl3w.c
/external/include/GL
/external/include/KHR
/testdir

imgui.ini
.vscode
/data/timers.json
/data/state.json
/data/tape.wav
/data/log.txt

CMakeLists.txt.user
.local.kak
.idea
*.cbp
./build*
.gdb_history
test/core/voices/todo.md

.ccls-cache
.clangd/
.cache
