build
bin
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
/.gdb_history
/tapedeck.log
/unnamed.wav
/log.txt
/compile_commands.json
/data.json
/tape1.tape
/playground

deploy_key
/external/src/gl3w.c
/external/include/GL
/data/tape.wav
/data/log.txt
/testdir
