[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/Microsoft/GSL
[submodule "external/nanovg"]
	path = external/nanovg
	url = https://github.com/memononen/nanovg
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/NanoCanvas"]
	path = external/NanoCanvas
	url = https://github.com/topisani/NanoCanvas
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "external/tiny-process-library"]
	path = external/tiny-process-library
	url = https://github.com/eidheim/tiny-process-library
