/* line 2, ../../app/website-styles/common/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../app/website-styles/common/_base.scss */
body {
  color: #000000;
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

/* line 18, ../../app/website-styles/common/_base.scss */
a {
  color: #0064ff;
  text-decoration: underline;
}
/* line 22, ../../app/website-styles/common/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 28, ../../app/website-styles/common/_base.scss */
.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

/* line 35, ../../app/website-styles/common/_base.scss */
.content {
  position: relative;
}

/* line 39, ../../app/website-styles/common/_base.scss */
.left, .right {
  padding: 0.3em;
}

/* line 43, ../../app/website-styles/common/_base.scss */
.left {
  margin-bottom: .5em;
}

@media screen and (min-width: 47.5em) {
  /* line 46, ../../app/website-styles/common/_base.scss */
  .left {
    margin-right: 19.5em;
  }

  /* line 47, ../../app/website-styles/common/_base.scss */
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 18.75em;
  }
}
/* line 50, ../../app/website-styles/common/_base.scss */
footer h1, header h1 {
  text-shadow: 2px 2px #efefef;
  color: #003E7E;
  font-weight: bold;
  border-bottom: 1px solid #003E7E;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 58, ../../app/website-styles/common/_base.scss */
.right h2 {
  text-shadow: 2px 2px #efefef;
  color: #003E7E;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 64, ../../app/website-styles/common/_base.scss */
.right p {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 70, ../../app/website-styles/common/_base.scss */
.main a, .main a:hover, .navigation a, .navigation a:visited, .navbar a, .navbar a:visited {
  text-decoration: none;
}

/* line 75, ../../app/website-styles/common/_base.scss */
#map {
  box-shadow: 0 3px 7px 0 rgba(50, 50, 50, 0.75);
}

/* line 79, ../../app/website-styles/common/_base.scss */
.map-preview {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 10px;
}

/* line 87, ../../app/website-styles/common/_base.scss */
.img-preview {
  width: 200px;
  float: right;
  margin-left: 10px;
}

/* line 93, ../../app/website-styles/common/_base.scss */
.col-sm-6 {
  width: 50%;
}

/* line 97, ../../app/website-styles/common/_base.scss */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}

/* line 103, ../../app/website-styles/common/_base.scss */
.page-content {
  padding: 60px 0 0;
}

/* line 114, ../../app/website-styles/common/_base.scss */
.right {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 2px;
  margin: 15px;
  padding: 10px 10px 5px;
  color: #003e7e;
}

/* line 123, ../../app/website-styles/common/_base.scss */
header p {
  margin: 20px;
  padding: 10px 10px 5px;
  color: #003e7e;
}

/* line 134, ../../app/website-styles/common/_base.scss */
#examples a, #examples a:visited {
  text-decoration: none;
  color: #000000;
}

/* line 139, ../../app/website-styles/common/_base.scss */
.map, .test_map_div {
  border: 1px solid gray;
  margin: 0px auto 0px auto;
  box-shadow: 5px 5px 5px #888888;
}

/* line 145, ../../app/website-styles/common/_base.scss */
.alert {
  margin: 2px;
  padding: 1em;
  border-style: solid;
  background: #EAEBF7 no-repeat 15px 50%;
  border: 1px solid #003E7E;
}

/* line 153, ../../app/website-styles/common/_base.scss */
.content table {
  width: 100%;
  margin-left: 10px;
}

/* line 159, ../../app/website-styles/common/_base.scss */
.content table tr {
  width: 100%;
}

/* line 163, ../../app/website-styles/common/_base.scss */
.content td pre {
  width: 100%;
  max-width: 600px;
  border: #d3d3d3 dotted 1px;
  overflow: auto;
}

/* line 171, ../../app/website-styles/common/_base.scss */
.content .left_colum {
  width: 50%;
  border: 1px solid gray;
  margin: 0px auto 0px auto;
  box-shadow: 5px 5px 5px #888888;
  vertical-align: top;
}

/* line 178, ../../app/website-styles/common/_base.scss */
.content .left_colum > div {
  min-width: 450px;
}

/* line 182, ../../app/website-styles/common/_base.scss */
.content .right_colum {
  vertical-align: top;
  padding-left: 20px;
}

/* line 186, ../../app/website-styles/common/_base.scss */
.content .right_colum h2 {
  text-shadow: 2px 2px #efefef;
  color: #003E7E;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 194, ../../app/website-styles/common/_base.scss */
.content .right_colum p {
  color: #003e7e;
}

/* line 198, ../../app/website-styles/common/_base.scss */
.spacer {
  height: 10px;
}

/* line 202, ../../app/website-styles/common/_base.scss */
.container {
  padding: 0 30px;
}

/* line 207, ../../app/website-styles/common/_base.scss */
.breadcrumb {
  margin: 0px;
  background-color: inherit;
  font-size: 80%;
}

/* line 2, ../../app/website-styles/components/_buttons.scss */
.btn.btn-get-started {
  background: #003e7e;
  color: #ffffff;
  margin-top: 30px;
}
/* line 7, ../../app/website-styles/components/_buttons.scss */
.btn.btn-get-started:hover, .btn.btn-get-started:focus {
  background: #1097FE;
  color: #ffffff;
}

/* line 1, ../../app/website-styles/components/_headings.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #4f4f4f;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 20px;
}

/* line 9, ../../app/website-styles/components/_headings.scss */
h1, h2, h3,
.h1, .h2, .h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 15, ../../app/website-styles/components/_headings.scss */
h3,
.h3 {
  font-size: 24px;
}

/* line 1, ../../app/website-styles/modules/_site-header.scss */
.navbar {
  background: #003e7e;
}
/* line 5, ../../app/website-styles/modules/_site-header.scss */
.navbar a, .navbar a:hover {
  color: #ffffff;
}

/* line 11, ../../app/website-styles/modules/_site-header.scss */
.navbar-brand {
  color: #ffffff;
  padding: 10px;
}
/* line 15, ../../app/website-styles/modules/_site-header.scss */
.navbar-brand img {
  width: 30px;
}

/* line 20, ../../app/website-styles/modules/_site-header.scss */
.navbar-toggle {
  border: 1px solid #ffffff;
}
/* line 22, ../../app/website-styles/modules/_site-header.scss */
.navbar-toggle .icon-bar {
  border: 1px solid #ffffff;
}

/* line 28, ../../app/website-styles/modules/_site-header.scss */
.navbar-collapse ul {
  font-size: 10px;
}

/* line 36, ../../app/website-styles/modules/_site-header.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background: #ffffff;
  color: #003e7e;
}

/* line 1, ../../app/website-styles/modules/_site-footer.scss */
.page-footer {
  margin-top: 20px;
  padding: 0 0 20px;
}

/* line 6, ../../app/website-styles/modules/_site-footer.scss */
.footer-line {
  background-color: #003e7e;
  height: 50px;
  margin-bottom: 20px;
}

/* line 13, ../../app/website-styles/modules/_site-footer.scss */
.footer-nav {
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 21, ../../app/website-styles/modules/_site-footer.scss */
.footer-nav li {
  border-right: 1px solid #333;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  padding: 0 5px;
}
/* line 28, ../../app/website-styles/modules/_site-footer.scss */
.footer-nav li:last-child {
  border-right-width: 0;
}

/* line 36, ../../app/website-styles/modules/_site-footer.scss */
.footer-langs {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}
/* line 42, ../../app/website-styles/modules/_site-footer.scss */
.footer-langs li {
  display: inline-block;
  margin: 0 8px;
}
/* line 47, ../../app/website-styles/modules/_site-footer.scss */
.footer-langs a {
  border-radius: 5px;
  display: block;
  width: 25px;
  height: 25px;
}
/* line 53, ../../app/website-styles/modules/_site-footer.scss */
.footer-langs a.lang-en {
  background-image: url(../examples/images/lng/lng-us.png);
}
/* line 56, ../../app/website-styles/modules/_site-footer.scss */
.footer-langs a.lang-it {
  background-image: url(../examples/images/lng/lng-it.png);
}
/* line 59, ../../app/website-styles/modules/_site-footer.scss */
.footer-langs a.lang-fr {
  background-image: url(../examples/images/lng/lng-fr.png);
}
/* line 62, ../../app/website-styles/modules/_site-footer.scss */
.footer-langs a.lang-es {
  background-image: url(../examples/images/lng/lng-es.png);
}
/* line 65, ../../app/website-styles/modules/_site-footer.scss */
.footer-langs a.lang-de {
  background-image: url(../examples/images/lng/lng-de.png);
}

/* line 1, ../../app/website-styles/modules/_news.scss */
.news {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 2px;
  margin: 15px;
  padding: 20px 10px;
}
/* line 8, ../../app/website-styles/modules/_news.scss */
.news h1, .news p {
  color: #003e7e;
}
/* line 11, ../../app/website-styles/modules/_news.scss */
.news h1 {
  font-size: 49px;
  font-weight: 800;
  margin-top: 0;
}
/* line 16, ../../app/website-styles/modules/_news.scss */
.news p {
  font-size: 20px;
}

/* line 1, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px #000000;
  display: none;
}
/* line 7, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup .ui-dialog-title {
  color: #003e7e;
  font-size: 30px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
}
/* line 15, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup td {
  border: 1px solid #efeff4;
  font-size: 13px;
  height: 30px;
  padding: 0 15px;
  text-align: center;
}
/* line 22, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup td:first-child {
  font-weight: 700;
}
/* line 26, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup td .checkmark {
  color: #00b200;
}
/* line 30, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup td div.checkmark {
  line-height: 13px;
}
/* line 36, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup thead td {
  background: #003e7e;
  color: #ffffff;
}
/* line 42, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup .ui-widget-header {
  background: transparent;
  border: 0;
}
/* line 47, ../../app/website-styles/modules/_comparison-popup.scss */
.comparison-popup .ui-button {
  outline: 0;
}

/* line 1, ../../app/website-styles/modules/_ui-guide-example.scss */
.ui-guide-example {
  margin-bottom: 30px;
}

/* line 5, ../../app/website-styles/modules/_ui-guide-example.scss */
.ui-guide-example-preview {
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding: 40px 20px 10px;
  position: relative;
}
/* line 11, ../../app/website-styles/modules/_ui-guide-example.scss */
.ui-guide-example-preview + .ui-guide-example-code {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 17, ../../app/website-styles/modules/_ui-guide-example.scss */
.ui-guide-example-preview-title {
  color: #aaa;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: 20px;
  top: 10px;
  text-transform: uppercase;
}

/* line 27, ../../app/website-styles/modules/_ui-guide-example.scss */
.ui-guide-example-code {
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: -1px 0 0;
  overflow: auto;
  padding: 20px;
}

/* line 1, ../../app/website-styles/pages/_component-example.scss */
.component-header {
  background: #f7f7f7;
  margin-bottom: 40px;
  padding: 20px 0 10px;
}

/* line 7, ../../app/website-styles/pages/_component-example.scss */
.component-header-title {
  color: #003e7e;
  font-weight: bold;
  margin: 0 0 10px;
}

/* line 14, ../../app/website-styles/pages/_component-example.scss */
.component-header-descr p {
  margin: 0 0 10px;
}

/* line 19, ../../app/website-styles/pages/_component-example.scss */
.component-section-title {
  border-bottom: 1px solid #aaa;
  font-size: 28px;
  margin: 0 0 20px;
}
/* line 24, ../../app/website-styles/pages/_component-example.scss */
.component-section-title a {
  text-decoration: none;
}
/* line 27, ../../app/website-styles/pages/_component-example.scss */
.component-section-title a:hover {
  color: #0050cc;
}

/* line 33, ../../app/website-styles/pages/_component-example.scss */
.component-frame-item {
  margin: 0 0 20px;
}

/* line 37, ../../app/website-styles/pages/_component-example.scss */
.component-frame-header {
  background: #003e7e;
  color: #ffffff;
  display: table;
  font-weight: bold;
  width: 250px;
  height: 50px;
}

/* line 46, ../../app/website-styles/pages/_component-example.scss */
.component-frame-header-col {
  display: table-cell;
  vertical-align: middle;
}

/* line 51, ../../app/website-styles/pages/_component-example.scss */
.component-frame-size {
  padding: 0 20px;
  text-align: center;
}

/* line 56, ../../app/website-styles/pages/_component-example.scss */
.component-frame-rotate {
  width: 1%;
}
/* line 59, ../../app/website-styles/pages/_component-example.scss */
.component-frame-rotate a {
  background: #1097FE;
  color: #ffffff;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
}
/* line 68, ../../app/website-styles/pages/_component-example.scss */
.component-frame-rotate a:hover {
  background: #43adfe;
}

/* line 75, ../../app/website-styles/pages/_component-example.scss */
.component-ruler {
  background: #003e7e;
}
/* line 77, ../../app/website-styles/pages/_component-example.scss */
.component-ruler a {
  background: #1097FE;
}

/* line 83, ../../app/website-styles/pages/_component-example.scss */
.component-frame-section {
  background: #f7f7f7;
  display: inline-block;
  padding: 8px;
  vertical-align: top;
}

/* line 91, ../../app/website-styles/pages/_component-example.scss */
.component-frame {
  border: 0;
  vertical-align: top;
}

/* line 96, ../../app/website-styles/pages/_component-example.scss */
.component-frame-default {
  width: 320px;
  height: 568px;
}

/* line 2, ../../app/website-styles/pages/_examples-list.scss */
.examples-list .panel-body {
  height: 200px;
  overflow: auto;
}
/* line 7, ../../app/website-styles/pages/_examples-list.scss */
.examples-list .panel-title a, .examples-list .panel-title span, .examples-list .panel-title small {
  display: block;
}
/* line 10, ../../app/website-styles/pages/_examples-list.scss */
.examples-list .panel-title span, .examples-list .panel-title small {
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 16, ../../app/website-styles/pages/_examples-list.scss */
.examples-list .panel-title span {
  margin-bottom: 5px;
}

/* line 22, ../../app/website-styles/pages/_examples-list.scss */
.examples-footer {
  border-top: 1px solid #efeff4;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}

/* line 1, ../../app/website-styles/pages/_example.scss */
.examples {
  margin: 2px;
  padding: 2px;
}
/* line 5, ../../app/website-styles/pages/_example.scss */
.examples h1 {
  border-bottom: 1px solid #003e7e;
  color: #003e7e;
  font-family: arial, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 2px 2px #efefef;
}
/* line 15, ../../app/website-styles/pages/_example.scss */
.examples pre {
  background: #fefefe;
  border: 1px dashed #000000;
  word-wrap: break-word;
}
/* line 21, ../../app/website-styles/pages/_example.scss */
.examples .site {
  border: 1px solid gray;
  box-shadow: 10px 10px 5px #727274;
}

/* line 27, ../../app/website-styles/pages/_example.scss */
.header {
  padding: 5px 10px;
}
/* line 30, ../../app/website-styles/pages/_example.scss */
.header p {
  margin: 10px;
}

/* line 36, ../../app/website-styles/pages/_example.scss */
.left .test_map_div {
  border: 1px solid gray;
  box-shadow: 5px 5px 5px #727274;
  margin: 0 auto;
}

/* line 43, ../../app/website-styles/pages/_example.scss */
.main {
  float: left;
  width: 60%;
}

/* line 48, ../../app/website-styles/pages/_example.scss */
.footer {
  clear: both;
  padding: 5px 5px;
}

/* line 54, ../../app/website-styles/pages/_example.scss */
.product_window, .event_window {
  height: 250px;
  overflow: scroll;
  font: 10px Courier;
}

/* line 60, ../../app/website-styles/pages/_example.scss */
.product_window pre {
  font: 10px Courier;
}

/* line 63, ../../app/website-styles/pages/_example.scss */
.event_window ol {
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: scroll;
}

/* line 69, ../../app/website-styles/pages/_example.scss */
.event_window ol li {
  border-bottom: 1px dotted grey;
}

/* line 72, ../../app/website-styles/pages/_example.scss */
.event_window pre {
  font: 10px Courier;
}

/* line 78, ../../app/website-styles/pages/_example.scss */
.map {
  border: 1px solid gray;
  width: 100%;
  height: 500px;
}

/* line 84, ../../app/website-styles/pages/_example.scss */
.map, .test_map_div {
  border: 1px solid gray;
  margin: 5px auto 5px auto;
  box-shadow: 5px 5px 5px #888888;
}

/* line 91, ../../app/website-styles/pages/_example.scss */
.map_default_style {
  border: 1px solid gray;
  margin: 5px auto 5px auto;
  box-shadow: 5px 5px 5px #888888;
  min-width: 200px;
  min-height: 500px;
  width: 100%;
  height: 100%;
}

/* line 2, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide h1 {
  margin: 50px 0 20px;
}
/* line 6, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1000px;
}
/* line 13, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .example-btn-groups .jnc-view-btn-group {
  margin-bottom: 10px;
}
/* line 16, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .example-btn-groups .jnc-view-btn-group:last-child {
  margin-bottom: 0;
}
/* line 23, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .example-map-buttons .map-btn {
  display: inline-block;
  margin-right: 3px;
  vertical-align: top;
}
/* line 30, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .example-mobile {
  background: #efeff4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 320px;
  position: relative;
}
/* line 38, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .icons-list {
  font-size: 0;
  line-height: 0;
}
/* line 42, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .icons-list:after {
  clear: both;
  content: '';
  display: block;
}
/* line 48, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .icons-list .icons__item {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  vertical-align: top;
  width: 25%;
}
/* line 56, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide .icons-list .icons__item i {
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 1.5em;
}

/* line 68, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide-header {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
  padding: 20px 0;
  text-align: center;
}

/* line 76, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide-header-title {
  color: #003e7e;
  font-weight: bold;
  font-size: 24px;
}

/* line 82, ../../app/website-styles/pages/_ui-guide.scss */
.ui-guide-footer {
  color: #aaa;
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
}
